.item {
    padding: 5px;
    margin: 0 5px 10px 0;
    background-color: antiquewhite;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.desc {
    padding: 10px;
    background-color: #fff;

}

.label-wrapper {
    padding: 5px;
    cursor: pointer;
}

.label-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    margin: 5px 0 0 0;
}

.label-name {
    float: left;
    display: inline-block;
    margin-left: 10px;
}